@charset "utf-8";
/* CSS Document */
/* CSS Document by Leo*/
* { margin:0; padding:0;}

body#body{ 
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#b2b1b1;
}

ul, ul li { list-style:none; list-style-image:none; list-style-type:none;}

table{border-collapse:collapse; border:0px;}
td { vertical-align:top; padding:0px;}

tbody { border:none;}

a{ color:#6aa200; outline:none}
a:hover{text-decoration:none; }
img, a img { border:0;}

.clear { clear:both;}

fieldset { border:1px solid #6b6b6b; overflow:hidden; position:relative;}
fieldset legend { color:#6aa200;}
html.js fieldset.collapsed legend { display:inline;}
/*html.js fieldset.collapsible legend a { background:url(../images/a5.gif) no-repeat 5px 7px;}
html.js fieldset.collapsed legend a { background:url(../images/a4.gif) no-repeat 5px 6px;}*/

fieldset a { color:#dd621e;}
fieldset .tips { font-size:10px;}

.min-width {width:expression(((document.documentElement.clientWidth || document.body.clientWidth) < 980)? "980px" : "100%"); min-width:980px;}
#main { margin:0 auto; width:939px;}

table.system-status-report th, thead th { border-bottom:1px solid #6b6b6b; color:#000000; font-size:13px; }
thead th, th, tr.even, tr.odd { padding:0px; border-bottom:1px solid #6b6b6b;}

/*------HEADER------*/
#header { padding:0px;}

.head-row1 { height:111px; width:100%; overflow:hidden;}
.head-row1 .col1 { float:left;}
.head-row1 .col2 { float:right;}

.head-row2 { height:45px; overflow:hidden; background:url(../images/bg-menu.gif) top repeat-x;}
.head-row2 .col1 { float:left;}
.head-row2 .col2 { float:right; text-align:right; width:360px;}

.head-row3 { height:387px;}
.head-row4 { height:192px;}


.logo { margin:38px 0px 0px 2px; float:left;}
h1.site-name { font-size:32px; padding:40px 10px 0px 30px; font-family:"Trebuchet MS"; text-transform:capitalize; font-weight:bold;}
h1.site-name a { color:#FFFFFF; text-decoration:none; font-weight:normal; line-height:30px;}
.slogan { padding:4px 0px 0px 12px; color:#FFFFFF; font-size:12px; text-transform:none; float:left;}
.slogan-img { margin:71px 46px 0px 321px; float:left;}

/*----Breadcrumb-----*/
.breadcrumb { padding:20px 55px 2px 28px; color:#484848; font-size:14px; font-weight:normal; text-align:left;}
.breadcrumb a { color:#484848; text-decoration:none; padding:0px 2px 0px 2px; text-transform:none; vertical-align:middle; font-weight:normal;}
.breadcrumb a:hover { text-decoration:underline; color:#000;}

/* footer */
#footer { color:#919191; font-size:12px; font-weight:normal; text-align:center; width:100%; overflow:hidden; border-top:1px solid #e6e6e6}
.foot { text-align:center; margin:0 auto; width:957px; padding:23px 0px 20px 0px;}
#footer span a { color:#919191 !important; text-decoration:none;}
#footer a:hover{ text-decoration:underline;}
#footer .foot span { padding-left:28px;}
/* footer end */


/*------CORNERS------*/
div.block { margin-bottom:13px; color:#363638; position:relative; overflow:hidden;}
.block .content { overflow:hidden; padding:9px 0px 35px 0px; border-top:0;}
.clear-block { padding:0px 20px 0px 18px;}
.admin .clear-block { padding:0px;}

.border-left { background:url(../images/bg-border.gif) repeat-y 190px 0}
.border-top-left { background:url(../images/bg-border-top.gif) no-repeat 190px 0}
.border-bot-left { background:url(../images/bg-border-bot.gif) no-repeat 190px bottom}



h4 {color:#000; font-size:22px; font-weight:normal; padding-bottom:10px; padding-top:10px;}

.blocks { overflow:hidden; width:100%; padding-top:30px;}
.blocks div { background:url(../images/bg-blocks.gif) top repeat-x #fafafa; width:209px; float:left; overflow:hidden;}
.blocks div h4 {adding:12px 0px 30px 45px;}
.blocks div .inner{ padding:18px 0px 35px 15px;}
.blocks div a { color:#1579d9;}
.list, .list2 { margin-right:3px;}
.blocks div ul { margin-left:6px; margin-bottom:30px;}

.blocks2 { overflow:hidden; width:100%;}
.blocks2 .inner { padding:0px 0px 15px 0px;}
.blocks2 div.list, .blocks2 div.list2 { float:left; width:200px;}
.blocks2 div.list3 { width:170px; float:left;}
.blocks2 div ul { margin-left:6px;}

.events { width:100%; overflow:hidden; padding-bottom:20px;}
.events .list { float:left; width:288px;}

.list-col { float:left; margin-right:30px;}
a.cont-more { font-size:14px !important; font-weight:bold !important;}

.aboutus .columns { width:100%; overflow:hidden;}
.aboutus .column-left { width:45%; float:left;}
.aboutus .column-right { width:45%; float:right;}
.aboutus span { font-weight:bold; font-size:12px !important; color:#0462ae}

.solutions .list-left { float:left; margin-right:20px;}

.links-content .columns { width:100%; overflow:hidden; padding-bottom:20px;}
.links-content .column-left { width:45%; float:left;}
.links-content .column-right { width:45%; float:right;}

.services .columns { width:100%; overflow:hidden; padding-bottom:20px;}
.services .column-left { width:40%; float:left;}
.services .column-right { width:55%; float:right;}

.faq span { font-weight:bold; font-size:14px !important;}


.links-indent { padding:0px 0px 0px 0px; overflow:hidden;}
.links-indent ul.links li { float:left; padding:0 5px 3px 0!important;}
.links-indent ul.links li a { background:url(../images/bg-links.gif) top repeat-x; display:block; text-decoration:none !important; color:#4a4a4a !important;}
.links-indent ul.links li a span { background:url(../images/links-left.gif) no-repeat 0 0; color:#4a4a4a; display:block; font-size:14px; line-height:16px; font-weight:bold; text-transform:uppercase}
.links-indent ul.links li a span span{ background:url(../images/links-right.gif) top right no-repeat!important; display:block; padding:9px 12px 9px 28px; line-height:1.2em;}

.links-indent ul.links li a:hover { background:url(../images/bg-links2.gif) top repeat-x;}
.links-indent ul.links li a:hover span { background:url(../images/links-left2.gif) no-repeat 0 0;}
.links-indent ul.links li a:hover span span{ background:url(../images/links-right2.gif) top right no-repeat!important;}
/*-----------------*/

#cont { overflow:hidden; width:100%; padding-bottom:20px; padding-top:21px;}
.cont-inner { overflow:hidden;}

#left-col { width:191px; float:left;}
#left-col .ind { padding:0px 12px 0px 0px;}

.width { width:100%;}

#cont-col { overflow:hidden; height:1%; padding:10px 20px 20px 27px;}
#cont-col .ind { width:100%;}

#right-col { width:193px; float:right;}
#right-col .ind { padding:0px 0px 0px 27px;}

/**************---TITLES---**************/
h1 { color:#444b4e; font-size:18px; font-weight:normal;}
h1.title { background:none; font-size:21px;}
h1.title a { font-size:21px; color:#2b2b2b; text-transform:uppercase; text-decoration:none;}
h1.title a:hover{text-decoration:none; color:#6AA200;}
#tabs-wrapper h2 { background:none; color:#393838 !important; padding-bottom:10px; font-size:21px; font-weight:normal;}
h2 { font-size:22px; color:#000; padding:10px 0px 7px 0px; text-transform:capitalize; width:100%; font-weight:normal;}
h2.with-tabs { padding-left:0px; padding-top:10px;}
.block h2 { display:block; border-bottom:#bcbcbc 1px solid; color:#444b4e; font-size:12px; line-height:22px; margin:0; margin-top:5px; margin-bottom:10px; padding:0;}

h3 { color:#424242; padding:5px 0px;}
h3 a {color:#424242; text-decoration:none;}

.block .title { padding:0;}
.title h3 { color:#2b2b2b; font-size:21px; font-weight:normal; padding:10px 0px 10px 0px; text-transform:uppercase;}

.admin-panel h3 { color:#000000; font-size:13px;}

.submit { padding:15px 0px 15px 0px; overflow:hidden}
.submitted, .submit .submitted{ color:#6a6a6a; font-size:9px; line-height:normal; font-weight:normal;}
.submitted a { color:#6a6a6a;}

/***************/

.comment { padding:10px 0px 10px 20px;}
.comment h3 { background:none;}
.comment h3 a{ color:#2a2a2a; font-size:15px;}
.comment .title { padding-left:0px; padding-bottom:10px;}
.comment .submitted { margin-left:0px; padding-bottom:10px; color:#999999;}
.comment .submitted a{ color:#999999;}

.content { padding:0px 10px 0px 0px; color:#6a6a6a; line-height:16px; font-size:12px;}
.node .content a { color:#000; font-size:13px;}
.node .content strong { color:#000;}
.content a:hover{ text-decoration:none;}

.node { width:100%; padding-bottom:30px;}
.node .content, #contact-mail-page { padding:0px 0px 15px 0px; overflow:hidden; overflow:hidden;}
.node div.links { padding-top:5px; padding-bottom:2px; text-align:left;}
.node .title {padding:0px 15px 0px 0px;}
/*---------------------*/

/*----NAVIGATION----*/
#block-user-1 .content { padding-left:23px;}
#block-user-1 .content ul.menu { padding-left:0px; padding-bottom:0px; width:100%;}
#block-user-1 .content ul.menu li ul.menu { padding-left:11px; width:auto;}
#block-user-1 .content ul.menu li { padding:0px 0px 1px 0px; list-style-image:none; list-style:none; margin:0; line-height:normal;line-height:21px; overflow:hidden;}
#block-user-1 .content ul.menu li a { background:url(../images/a1.gif) no-repeat 0 7px; color:#6a6a6a; font-size:12px; text-decoration:none; padding-left:14px; overflow:hidden; display:block;}
#block-user-1 .content ul.menu li a:hover{ text-decoration:none; color:#85ba12;}
#block-user-1 .content ul.menu li.expanded { padding-bottom:0px;}
#block-user-1 .content ul.menu li.expanded ul { padding-top:1px;}

/*------Custom Login-Form------*/
.userlogin { font-size:15px; color:#313030; padding:0px 0px 0px 28px; margin-left:18px; margin-top:20px; font-weight:bold;}
#user-bar { font-size:11px; font-weight:bold; padding:4px 0px 0px 0px;}
#user-bar .user-info { padding-bottom:5px; color:#9df46e; padding-top:10px;}
#user-bar p a { color:#FFF;}
#user-bar .item-list li { list-style:none; list-style-image:none; line-height:10px;}
#user-bar .item-list li a{ font-weight:normal; font-size:10px; color:#b8e836;}
#user-bar .item-list li a:hover {color:#FFF;}

/*----Login-form----*/
#block-user-0 .content { padding-top:12px;}
#user-login-form { text-align:left; color:#FFF; font-size:12px; width:100%; overflow:hidden;}
#user-login-form input#edit-name, #user-login-form input#edit-name-1,
#user-login-form input#edit-pass, #user-login-form input#edit-pass-1 { width:160px; font-size:12px; color:#6a6a6a; background:url(../images/bg-login-input.gif) no-repeat 0 0; border:0px solid #8c8c8c; padding:1px 0px 4px 5px; line-height:normal;}
#user-login-form label { color:#6a6a6a; font-size:12px; padding:0px 0px 0px 0px; font-weight:normal;}
#user-login-form .form-required { color:#484848;}
#user-login-form .description a { color:#47a4bb;}
#user-login-form .item-list ul { padding:21px 0px 0px 0px; margin:0;}
#user-login-form .item-list li{ line-height:16px; list-style:none; list-style-image:none; margin:0px; padding:0px;}
#user-login-form .item-list li a{ font-weight:normal; color:#6a6a6a; text-decoration:underline; font-size:12px;}
#user-login-form .item-list li a:hover{text-decoration:none;}

#user-login-form .form-submit{ background:url(../images/login.gif) no-repeat 0 0; border:none; width:82px; height:32px; margin:9px 0px 0px 0px; color:#4a4a4a; font-size:12px; padding:0px 0px 3px 10px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase;}

#user-login-form .form-item { margin-top:0px; margin-bottom:12px;}

/*-------------------------*/


/*----POLL----*/
.poll .percent, .poll .text { color:#585c5c; font-size:13px;}
.poll .title { color:#585c5c; font-size:13px; font-weight:normal; padding-bottom:10px; background:none; padding-left:0px;}
.poll .total { font-weight:normal; color:#585c5c; font-size:12px; text-align:left;}
.poll .bar {background:#FFFFFF; font-size:1px; height:5px; border:1px solid #dadada; padding:1px;}
.poll .bar .foreground { background:#6aa200; font-size:1px; height:5px;}

#block-poll-0 li{ background:none; padding:0;}
#block-poll-0 ul.links li { background:none; padding:0px; background:none;}
#block-poll-0 ul.links li a { color:#6aa200; font-weight:bold; font-size:12px; text-decoration:none; background:none; text-transform:none;}
#block-poll-0 ul.links li a:hover { text-decoration:underline;}
#block-poll-0 .bar { background:#FFFFFF; font-size:1px; height:5px; border:1px solid #dadada; padding:1px;}
#block-poll-0 .bar .foreground { background:#6aa200; font-size:1px; height:5px;}
#block-poll-0 .percent, #block-poll-0 .text { color:#323232; font-size:12px; font-weight:normal; line-height:normal;}
#block-poll-0 .poll .title { color:#323232; font-size:12px; font-weight:normal; padding-top:0px; background:none; padding-left:0px; border:0;}
#block-poll-0 .total { font-weight:bold; color:#323232; font-size:12px;}
.form-item label { color:#000;}
#block-poll-0 ul.links { padding-left:0px;}
#block-poll-0 ul.links .first{ padding:0px;}
#cont #block-poll-0 ul.links li{ background:none;}

/*----Who's Online----*/
#block-user-3 .content { font-size:12px; color:#999999; font-weight:normal;}
#block-user-3 .item-list h3 { color:#000; font-size:13px; font-weight:bold; text-transform:none; padding-top:15px; padding-bottom:3px;}
#block-user-3 .item-list ul { margin:0; padding:0;}
#block-user-3 .item-list ul li{ list-style-999999:none; list-style:none; margin:0; line-height:18px; }
#block-user-3 .item-list ul li a{ color:#6aa200; font-size:12px; font-weight:normal; text-decoration:underline;}
#block-user-3 .item-list ul li a:hover { text-decoration:none;}
#block-user-3 em { color:#6aa200; font-weight:normal; font-size:13px;}


/*-----Recent blog posts-------*/
#block-blog-0 .item-list ul { padding-left:0px; width:100%;}
#block-blog-0 .item-list ul li{ background:none; padding:4px 0px 4px 0px; list-style-image:none; list-style:none; margin:0; line-height:19px;}
#block-blog-0 .item-list ul li a{ background:url(../images/a3.gif) no-repeat 0 8px; color:#6aa200; font-weight:normal; text-decoration:none; padding-left:10px; font-size:13px; display:block; line-height:19px;}
#block-blog-0 .item-list ul li a:hover { text-decoration:underline;}
#block-blog-0 .more-link a{ color:#6aa200; font-size:11px; font-weight:bold; text-decoration:none;}
#block-blog-0 .more-link a:hover{ text-decoration:underline;}


/*----SEARCH FORM----*/
.form-submit { background:#242424; vertical-align:middle; color:#fff; font-size:12px; font-weight:bold; border:1px solid #000; padding:2px 3px 4px 3px}
.form-submit:hover { background:#434343;}


.search-box { padding:51px 0px 0px 0px; font-size:0; text-align:right;}
.search-box a { color:#00c6ff; font-size:10px; text-transform:uppercase;}
.search-box input { font-size:12px; vertical-align:middle}

#search-theme-form {padding:0px;}
#search-theme-form label { color:#6e6e6e; font-size:12px; font-weight:normal; vertical-align:middle; margin-right:14px; font-family:Arial, Helvetica, sans-serif;}

#search-theme-form .form-submit { 
background:url(../images/search.gif) top left no-repeat;
border:none;
width:82px;
height:32px;
vertical-align:middle;
}
#search-theme-form .form-text { width:220px; font-size:13px; color:#999999; background:url(../images/bg-search-input.gif) no-repeat 0 0; border:0px solid #8c8c8c; padding:8px 0px 8px 5px; line-height:normal; margin-right:9px;}

/*-----Recent comments-------*/
#block-comment-0 .item-list ul { padding-left:0px; width:100% !important;}
#block-comment-0 .item-list ul li{ background:url(../images/a3.gif) no-repeat 0 5px; padding:0px 0px 10px 12px; list-style-image:none; list-style:none; margin-bottom:7px; line-height:16px; color:#6aa200; font-size:12px; margin-left:0px; text-transform:none; font-weight:normal;}
#block-comment-0 .item-list ul li a{ background:none; color:#000000; font-weight:bold; text-transform:none; text-decoration:underline; font-size:13px; padding-left:0px;}
#block-comment-0 .item-list ul li a:hover{ text-decoration:none;}


/*----Who's New----*/
#block-user-2 .item-list ul { padding-left:0px;}
#block-user-2 .item-list ul li{ background:url(../images/a3.gif) no-repeat 0 10px; color:#999999; padding:0 0 0 10px; list-style-image:none; list-style:none; margin:0; line-height:25px;}
#block-user-2 .item-list ul li a{ background:none; color:#999999; padding:0px;  font-size:12px; font-weight:normal; text-decoration:underline;}
#block-user-2 .item-list ul li a:hover { text-decoration:none;}

/*----Primary Links----*/
#block-menu-primary-links .content ul.menu { padding:0px;}
#block-menu-primary-links .content ul.menu li { background:none; padding:0px; list-style-image:none; list-style:none; margin:0; line-height:20px;}
#block-menu-primary-links .content ul.menu li a { background:url(../images/a3.gif) no-repeat 0 5px; font-size:12px; padding-left:10px; color:#999999; font-weight:bold; text-decoration:none;}
#block-menu-primary-links .content ul.menu li a:hover{ text-decoration:underline; }

/*----SEARCH_BLOCK----*/
#block-search-0 .content { font-size:11px;}
#block-search-0 .content label { color:#999999; font-size:12px;}
#block-search-0 #edit-search-block-form-1 { width:162px; vertical-align:middle;}


/*----New forum topics----*/
#block-forum-1 .item-list ul { padding:0px; margin-bottom:10px;}
#block-forum-1 .item-list ul li{ background:none; padding:0px; list-style-image:none; list-style:none; margin:0; line-height:20px;}
#block-forum-1 .item-list ul li a{ background:url(../images/a3.gif) no-repeat 0 5px; padding-left:10px; color:#999999; font-weight:normal; text-decoration:none; font-size:12px;}
#block-forum-1 .item-list a:hover{ text-decoration:underline;}
#block-forum-1 .more-link a{ color:#6aa200; font-size:12px; font-weight:bold; text-transform:capitalize; text-decoration:none; }
#block-forum-1 .more-link a:hover{ text-decoration:underline;}

/*----Active forum topics----*/
#block-forum-0 .item-list ul { padding-left:0px; margin-bottom:10px;}
#block-forum-0 .item-list ul li{ background:none; padding:0px; list-style-image:none; list-style:none; margin:0; line-height:20px;}
#block-forum-0 .item-list ul li a{ background:url(../images/a3.gif) no-repeat 0 5px; padding-left:10px; color:#999999; font-weight:normal; text-decoration:none; font-size:12px;}
#block-forum-0 .item-list a:hover{ text-decoration:underline;}
#block-forum-0 .more-link a{ color:#6aa200; font-size:12px; font-weight:bold; text-transform:capitalize; text-decoration:none;}
#block-forum-0 .more-link a:hover{ text-decoration:underline;}

/*----Languages----*/
#block-locale-0 .content ul { padding-left:0px; margin-bottom:10px;}
#block-locale-0 .content ul li{ background:none; padding:0px; list-style-image:none; list-style:none; margin:0; line-height:20px;}
#block-locale-0 .content ul li a{ background:url(../images/a3.gif) no-repeat 0 5px; padding-left:10px; color:#999999; font-weight:normal; text-decoration:none; font-size:12px;}
#block-locale-0 .content a:hover{ text-decoration:underline;}

/*----Syndicate----*/
#block-node-0 {  overflow:hidden;}

/*----Secondary Links----*/
#block-menu-secondary-links ul { padding-left:0px; width:100%; overflow:hidden;}
#block-menu-secondary-links ul li{ background:none; padding:0 0 1px 0; list-style-image:none; list-style:none; margin:0; line-height:20px;}
#block-menu-secondary-links ul li a{ background:url(../images/a3.gif) no-repeat 0 7px; padding-left:11px; color:#999999; font-weight:normal; text-decoration:none; font-size:12px; display:block;}
#block-menu-secondary-links a:hover{ text-decoration:underline;}

/*----Book Links----*/
#block-book-0 ul { padding-left:0px; margin-bottom:10px; width:100%;}
#block-book-0 ul li{ background:none; padding:0 0 1px 0; list-style-image:none; list-style:none; margin:0; line-height:20px;}
#block-book-0 ul li a{ background:url(../images/a3.gif) no-repeat 0 7px; padding-left:11px; color:#999999; font-weight:normal; text-decoration:none; font-size:12px; display:block;}
#block-book-0 a:hover{ text-decoration:underline;}


/*----Admin-Panel List & Admin-Panel List without descriptions----*/
.body ul.menu li, .body .item-list ul li{ background:none; padding:0px; list-style-image:none; list-style:none; margin:0; line-height:20px;}
.body ul.menu li a, .body .item-list ul li a { background:url(../images/a3.gif) no-repeat 0 5px; padding-left:10px; color:#6aa200; font-weight:normal;}
.body .item-list ul li a:hover{ text-decoration:none;}

/*-------------------------*/

/*------------------CUSTOM BLOCKS---------------------*/
/*------Styles for Custom Region------*/
#custom .block{ width:313px; float:left; margin:0}
#custom .block .title h3 { font-size:30px; color:#fff; padding:23px 0px 0px 28px;}
#custom .block .content { color:#fff; padding:6px 29px 19px 29px; font-size:12px; line-height:16px;}
#block-block-14 { background:url(../images/bg-block.gif) top repeat-x #7db610;}
#block-block-14 .readmore { background:url(../images/bg-more.gif) no-repeat 0 0; display:block; float:left; padding:8px 10px 7px 10px; font-size:18px; text-decoration:none; color:#fff; text-transform:uppercase; margin-top:17px;}
#block-block-14 .readmore:hover { background:url(../images/bg-more-act.gif) no-repeat 0 0}

#block-block-15 { background:url(../images/bg-block2.gif) top repeat-x #ffb60d;}
#block-block-15 .readmore { background:url(../images/bg-more2.gif) no-repeat 0 0; display:block; float:left; padding:8px 10px 7px 10px; font-size:18px; text-decoration:none; color:#fff; text-transform:uppercase; margin-top:17px;}
#block-block-15 .readmore:hover { background:url(../images/bg-more2-act.gif) no-repeat 0 0}

#block-block-16 { background:url(../images/bg-block3.gif) top repeat-x #fc6700;}
#block-block-16 .readmore { background:url(../images/bg-more3.gif) no-repeat 0 0; display:block; float:left; padding:8px 10px 7px 10px; font-size:18px; text-decoration:none; color:#fff; text-transform:uppercase; margin-top:17px;}
#block-block-16 .readmore:hover { background:url(../images/bg-more3-act.gif) no-repeat 0 0}
/*---*/

/*-----LISTS-----*/
/*---nonNumeric Lists without links---*/
#cont-col .content ul li{ background:url(../images/a3.gif) no-repeat 0 8px; padding-left:12px; list-style-image:none; list-style:none; line-height:22px; color:#6aa200;}
#cont-col .content ul li ul{ margin-left:15px;}
#cont-col .content ul li ol {margin-left:20px;}
#cont-col .content ul li ol li{ list-style-type:decimal;}

/*---Numeric Lists without links---*/
#cont-col .content Ol { padding-left:2px;}
#cont-col .content Ol li{ background:none; padding:0px; margin-left:20px; line-height:22px; color:#6aa200;}
#cont-col .content Ol li ul li {background:url(../images/a3.gif) no-repeat 0 8px; padding-left:16px; color:#6aa200; font-weight:normal;}

/*---nonNumeric Lists---*/
#cont-col .content ul li{ list-style-image:none; list-style:none; line-height:22px; font-size:12px;}
#cont-col .content ul li a { color:#6aa200; font-weight:normal; text-decoration:none; font-size:12px;}
#cont-col .content ul li a:hover{ text-decoration:underline; }
#cont-col .content ul li ul{ margin-left:15px;}
#cont-col .content ul li ol {margin-left:20px;}
#cont-col .content ul li ol li{ list-style-type:decimal; color:#6aa200}
#cont-col .content ul li ol li a { background:none;}

/*---Numeric Lists---*/
#cont-col .content Ol { padding-left:2px; font-size:13px;}
#cont-col .content Ol li{ background:none; padding:5px 0px 5px 0px; margin-left:20px; line-height:22px;}
#cont-col .content Ol li a { padding-left:0px; color:#6aa200; font-weight:normal; text-decoration:underline; font-size:12px;}
#cont-col .content Ol li a:hover{ text-decoration:none; }
#cont-col .content Ol li ul li a { font-weight:normal; text-decoration:none;}
#cont-col .content Ol li ul li a:hover {text-decoration:underline;}


/*---Paragraph Style---*/
#cont-col .content p { padding-bottom:7px; padding-top:7px;}
#cont-col .content blockquote { border:1px solid #7f7f7f; background:#f1f1f1; padding:5px; margin:10px 0px 10px 0px;}

.item-list ul li { list-style-image:none; list-style:none;}


#profile-admin-overview ul li{ background:none; padding:0px; list-style-image:none; list-style:none; margin:0; line-height:20px;}
#profile-admin-overview ul li a { background:url(../images/a1.gif) no-repeat 0 5px; padding-left:10px; color:#505050; font-weight:normal;}
#profile-admin-overview ul li a:hover{ text-decoration:none; color:#ce2a11;}

.password-description ul {margin-left:5px;}
.password-description ul li{ background:url(../images/a1.gif) no-repeat 0 7px; padding-left:10px; list-style-image:none; list-style:none; margin:0; line-height:12px;}

#node-admin-content ul {margin-left:5px;}
#node-admin-content  ul li{ background:url(../images/a1.gif) no-repeat 0 7px; padding-left:10px; list-style-image:none; list-style:none; margin:0; line-height:17px;}

/*ul.menu li { line-height:20px; font-size:11px; font-weight:normal; list-style:none; list-style-image:none;}
ul.menu li.leaf a{ color:#52a1d6;}
*/
/*.links { font-size:10px; color:#d7d7d7;}
.links li a{ color:#d7d7d7; font-weight:bold; text-decoration:none; font-size:12px; text-transform:none; padding-left:0px;}
.links li a:hover{ text-decoration:underline; color:#FFF;}*/

ul.links.inline { padding-right:0px;}


.cent ul.links li a { color:#104d0c; font-weight:normal; font-size:11px; text-transform:capitalize; background:none; text-decoration:none; padding:0px;}
.cent ul.links li a:hover { text-decoration:underline;}
#comments ul.links li a { color:#0eabfc;}


.taxonomy ul.links li a, #forum ul.links li a { color:#fc6700}

/*------END LIST------*/


ul.primary, ul.primary li, ul.secondary, ul.secondary li{
  border: 0;
  background:none;
  margin: 0;
  padding: 0;
}

ul.primary li a{
	border:none !important;
}
ul.primary li a:hover{
	background:none;
	border: 0;
}

ul.primary li.active a{
	border:none;
	color:#fff !important;
	font-weight:bold;
	background:#242424;
}


ul.tabs li	{
	display:block;
	margin-right:2px;
	float:left;
}

ul.tabs li span	{
	display:block;
}
ul.tabs	li span span {
	text-align:center;
	display:block;
}

ul.tabs	li a {
	color:#242424 !important;
	font-size:14px;
	font-weight:normal;
	background:none;
	padding:7px 20px 7px 20px;
	margin:0px;
	display:block;
}
ul.tabs	li a:hover {
	color:#fff !important;
	margin:0px;
	border:none;
	background:#242424;
}

#tabs-wrapper {
  margin:0px 0px 5px 0px;
  padding:0;
  border-bottom:1px solid #d5d3c3;
}
ul.primary {
  padding:0px;
  margin:0px;}

/*----------------------------*/

/*----FROUM----*/
#forum	{
	padding:10px 0px 0px 1px;
}
#forum ul.links {
	padding:0px 0px 5px 0px;
}
#forum table {
	border:1px solid #d4d4d4;
	border-right:none;
}
#forum th	{
	padding:4px 0px 4px 3px;
	border-right:1px solid #d4d4d4;
}
#forum th a	{
	color:#fff;
}
#forum td	{
	padding-top:4px; 
	padding-bottom:4px;
}
#forum .description { color:#3c3c3c} /*Forum Container description*/

#forum .forum .description { color:#3c3c3c; font-size:11px;} /*Forum description*/

#forum td.container	{
	border-right:1px solid #d4d4d4;
	border-bottom:1px solid #d4d4d4;
}
#forum td.container	a{
	color:#6AA200; 
	padding:0px 0px 0px 10px;
}

#forum td.forum,
#forum td.topics,
#forum td.posts,
#forum td.last-reply,
#forum td.icon,
#forum td.title,
#forum td.replies,
#forum td.created {
	border-right:1px solid #d4d4d4;
	border-bottom:1px solid #d4d4d4;
}
#forum .last-reply,
#forum .title,
#forum .created,
#forum .icon  {
	padding-left:5px
}
#forum .odd	{
	border-bottom:1px solid #d4d4d4;
	border-top:1px solid #d4d4d4;
	background:#f8f7f2
}
#forum div.indent	{
	margin-left:5px}

#forum .odd, #forum .even { border-bottom:1px solid #d4d4d4; }
#forum thead th { border-bottom:1px solid #d4d4d4; background:url(../images/bg-menu.gif) top repeat-x; color:#fff;}
/*----------------------------*/

/*-----GENERAL-----*/

.node .taxonomy { padding-top:0px;}

div.error { margin-top:5px;}

.block-region { background:#d6e6cc; text-align:center; border:1px dashed #618749; color:#618749; margin-bottom:0px; clear:both;}


div.admin .left { margin:0px;}
#book-outline { min-width:0px;}
#permissions, #blocks, #forum table, .sticky-enabled  { width:100%;}
.node-unpublished { background:none;}
.odd td { vertical-align:middle; padding-left:px; line-height:18px; background:#f2f2f2; font-size:12px;}  /* odd_row BACKGROUND*/
.even td { vertical-align:middle; padding-left:px; line-height:18px; background:#fcfcfc; font-size:12px;} /* even_row BACKGROUND*/
.profile h3 { border-bottom:1px solid #cfcdcd; color:#0eabfc}

img.alignleft{ float:left; margin-right:20px;}
img.alignright{ float:right; margin-left:25px; }


#first-time a { color:#38a6d6; text-decoration:none}
#first-time a:hover{  text-decoration:underline;}
#first-time ol { margin-left:20px;}


.theme-info { padding-left:px;}


.admin-list a { color:#6AA200;}
.tabs a { color:#395c14}
.node-type-list a { color:#2b9ed1;} /* Create content */
.collapse-processed a { color:#6AA200;}
.even a { color:#6AA200;}
.blog a { color:#6AA200;}
.odd a { color:#6AA200; line-height:13px;}
.check-manually a{ color:#161616;}

.compact-link a { color:#6AA200;}
.messages a { color:#f30000}


.sticky-table { line-height:24px;}
/*.sticky-table th { text-align:center;}*/

.more-help-link a { color:#7d7d7d;}

.help { font-size:11px; padding:3px 10px 0px 20px;}
.help a { color:#6aa200;}

.help-items a{ color:#1ca0d1;}
.help-items ul { list-style:none; line-height:18px;}

.description a { color:#dc1b1d;}
/*---------------------*/

#blocks tr.region-message { color:#9298a3;}

.theme-info { padding-left:10px;}

.box { padding-left:0px;}
.box h2.title { padding-left:0px; background:none;}

.box div.links { background:none; padding:0px;}
.box .bg-links, .box .links-left, .box .links-right { background:none;}

#cont ul.links li { background:none;}
/*#cont ul.links li span { color:#575859;}*/

#system-modules div { padding-bottom:10px;}

#forum-confirm-delete a { color:#6d94ac;}

.form-checkboxes { width:100px;}

.search-form input { vertical-align:middle}

#forum ul.links { margin-bottom:10px;}

dl .title { background:none; padding:0px;}

ul.links li.comment_forbidden { padding:0px;}

#comments, #node-form { width:100%;}

#comment-form { padding-bottom:20px;}

.preview .node { background:none;}

#cont-col .content .comment_add a { color:#457299; text-transform:capitalize; font-weight:bold;}

html.js fieldset.collapsible .fieldset-wrapper { width:100%; overflow:hidden;}

.search-advanced .action { float:none;}

/*Status Report*/
.system-status-report td { padding-left:5px;}

table.system-status-report tr.info th{ color:#002200;}
table.system-status-report tr.error th{ color:#220000;}
table.system-status-report tr.ok th { color:#002200;}
table.system-status-report tr.warning th{ color:#222200;}

tr.merge-down { border-bottom:none;}
tr.ok td { background:#DDFFDD;}
tr.error td { background:#FFCCCC;}
tr.warning td { background:#FFFFDD;}
/*-------------*/

.admin-panel dd { padding-bottom:10px;}

div.admin-dependencies, div.admin-required { color:#999999;}

#block-admin-display-form div { overflow:hidden;}
table.sticky-header { background:#FFFFFF; overflow:hidden; position:relative;}
/*table.sticky-header th { text-align:center;}*/

.item-list .pager li { padding:0;}
#cont-col .content ul.pager li { background:#f5f4ed; border:1px solid #cbc9b8; padding:1px 5px; margin:0px 1px; color:#7c7c7c;}
#cont-col .content ul.pager li.pager-current,
#cont-col .content ul.pager li:hover{ background:#f0ece3; border:1px solid #cbc9b8;}
#cont-col .content ul.pager li a{ color:#1a2023; text-decoration:none;}
#cont-col .content ul.pager li a:hover { color:#000}

/***************************************************/

