#left_menu ul{ list-style-type:disc; margin:0px 0px 0px 10px; padding:0px}
#left_menu ul li{ padding-left:0px ;padding-top:14px; margin-left:12px; padding-bottom:5px; border-bottom:dotted 1px #999999;}
#left_menu ul li a{ text-decoration:none; color:#000; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; text-shadow:#666;}