#sql_menu ul{ list-style-type:none; padding:0px; margin:2px 15px; }
#sql_menu li{ float:left; padding:0px 80px; margin:5px;  }
#sql_menu ul li a{ text-decoration:none; color:#000; font-size:13px; font-family:vardana; font-style:bold; margin-bottom:10px; font-weight:bold;}